@page "/complaints-list"
@using StudentsManagement.Client.Models
@inject NavigationManager navigation;
@inject IJSRuntime JsRuntime
@attribute [StreamRendering(true)]
@rendermode InteractiveServer
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Complaints List</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <p><a class="btn btn-success float-end" href="/add-complaint">Add New Complaint</a></p>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"></div>
                            @if (!AllComplaints.Any())
                            {
                                <p><em>Loading  Complaints...</em></p>
                            }
                            @if (AllComplaints.Any())
                            {
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Complaint Type</th>
                                                <th>Complainant </th>
                                                <th>Phone Number</th>
                                                <th>Complaint Date</th>
                                                <th>Status</th>
                                                <th>Edit</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var complaint in AllComplaints)
                                            {
                                                <tr>
                                                    <td>@complaint.Id</td>
                                                    <td>@complaint.ComplaintType.Description</td>
                                                    <td>@complaint.ComplaintBy</td>
                                                    <td>@complaint.PhoneNumber</td>
                                                    <td>@complaint.ComplaintDate</td>
                                                    <td>@complaint.Status.Description</td>
                                                    <td>
                                                        <a class="btn btn-success" href="/department/edit/@complaint.Id"> Edit </a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-warning" href="/add-complaintaction/@complaint.Id"> Action </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"> There is no Complaints List Availlable</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public List<Complaint> AllComplaints { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        await LoadAllDepartments();
    }
    public async Task LoadAllDepartments()
    {
        var data = await DynamicService.GetAllComplaints();

        if (data is null) return;

        AllComplaints.Clear();
        AllComplaints.AddRange(data);
    }
}
