@page "/students-list"
@using StudentsManagement.Client.Models
@inject IConfiguration config;
@attribute [StreamRendering(true)]
@inject NavigationManager navigation;
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Students List</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <p><a class="btn btn-success float-end" href="/add-student"> Add New Student </a></p>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"></div>
                            @if (!AllStudents.Any())
                            {
                                <p><em>Loading Students...</em></p>
                            }
                            @if (AllStudents.Any())
                            {
                                <div class="card-body">
                                        <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Student Photo</th>
                                                <th>FirstName</th>
                                                <th>MiddleName</th>
                                                <th>LastName</th>
                                                <th>Email</th>
                                                <th>PhoneNo</th>
                                                <th>Country</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                                <th>View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var student in AllStudents)
                                            {
                                                <tr>
                                                    <td>@student.Id</td>
                                                    <td><img src="@student.Photo" style="width:90px;height:90px" /></td>
                                                    <td>@student.FirstName</td>
                                                    <td>@student.MiddleName</td>
                                                    <td>@student.LastName</td>
                                                    <td>@student.EmailAddress</td>
                                                    <td>@student.PhoneNumber</td>
                                                    <td>@student.Country.Name</td>
                                                    <td>
                                                        <a class="btn btn-success" href="/student/edit/@student.Id"> Edit </a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-danger" href="/student/delete/@student.Id"> Delete </a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-primary" href="/student/details/@student.Id"> View </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

    public List<Student> AllStudents { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        await LoadAlLStudents();

    }


    public Student student = new Student();

    public async Task LoadAlLStudents()
    {
        // var students = await GenericService.GetAllAsync(student, "api/Student/All-Students");
        var students = await StudentService.GetAllStudentsAsync();
        AllStudents.Clear();

        if (students is null) return;
        foreach (var student in students)
        {
            student.Photo = GetImagePath(student.Photo);
            AllStudents.Add(student);
        }
    }

    public string GetImagePath(string filename)
    {
        try
        {

            var imagestring = "";

            if (!string.IsNullOrEmpty(filename))
            {
                var path = Path.Combine(config.GetValue<String>("FileUploads")!, "Students", filename);
                var imagebytes = File.ReadAllBytes(path);
                var imagebase64string = Convert.ToBase64String(imagebytes);
                imagestring = string.Format("data:image/png;base64,{0}", imagebase64string);
            }

            return imagestring;
        }catch(Exception ex)
        {
            return null;
        }
    }


    private void EditStudent(int id)
    {
        navigation.NavigateTo($"/student/edit/{id}");
    }

    private async Task DeleteStudent(int Id)
    {
        var result = await StudentService.DeleteStudentAsync(Id);
        await LoadAlLStudents();
    }
}
