@page "/academicyears-list"
@using StudentsManagement.Client.Models
@inject NavigationManager navigation;
@inject IJSRuntime JsRuntime
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Academic Years List</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <p><a class="btn btn-success float-end" href="/add-academicYear">Add New Academic Year</a></p>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"></div>
                            @if (!AllAcademicYears.Any())
                            {
                                <p><em>Loading Academic Years...</em></p>
                            }
                            @if (AllAcademicYears.Any())
                            {
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Is Running</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                                <th>Active</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var academic in AllAcademicYears)
                                            {
                                                <tr>
                                                    <td>@academic.Id</td>
                                                    <td>@academic.Name</td>
                                                    <td>@academic.StartDate</td>
                                                    <td>@academic.EndDate</td>
                                                    <td>@academic.Status.Description</td>
                                                    <td>
                                                        <a class="btn btn-success" href="/academicyear/edit/@academic.Id"> Edit </a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-danger" href="/academicyear/delete/@academic.Id"> Delete </a>
                                                    </td>
                                                        <td>
                                                        @if (academic.Status.Code == "Active")
                                                        {
                                                            <a class="btn btn-warning" href="/country/delete/@academic.Id"> Deactivate </a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-primary" href="/country/delete/@academic.Id"> Activate </a>

                                                        }
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-info"> There is no Academic Years List Availlable</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public List<AcademicYear> AllAcademicYears { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        await LoadAllAcademicYears();
    }
    public async Task LoadAllAcademicYears()
    {
        var data = await GeneralService.GetAllAsync<AcademicYear>();

        if (data is null) return;

        AllAcademicYears.Clear();

        AllAcademicYears.AddRange(data);
    }
}
